.input:focus {
    outline: none;
    border: darkgray solid 2px
}

.superInput {
    margin: 10px;
    background-color: bisque;
    color: brown;
}

.errorInput {
    border: 3px solid lime;
    background: red;
    margin: 10px;
}

.error {
    color: red;
    margin-left:10px;
}